*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(102, 99, 99);
}

.JoinContainer{
    /* border: 2px solid yellow; */
    width: 70vw;
    height: 90vh;
    border-radius: 5%;
    background-image: linear-gradient(red, yellow, pink , blue , green , gold ) ;
    margin: auto;
    padding: 2%;
}


  .customForm{
    /* padding: %; */
    overflow: hidden;
    width: 65vw;
    height: 81vh;
    border-radius: 5%;
    box-shadow: 0 , 10px , 20px, 0 ;
    background-color: rgba(184, 115, 149, 0.788);
    /* border: 2px solid blue; */
  }
  

  .profile{
    /* padding: %; */
    overflow: hidden;
    padding: 10%;
    font-size: 1.5em;
    /* text-transform: capitalize; */
    width: 65vw;
    height: 81vh;
    border-radius: 5%;
    box-shadow: 0 , 10px , 20px, 0 ;
    background-color: rgba(184, 115, 149, 0.788);
    /* border: 2px solid blue; */
  }
  
  .checkme{
    color: rgb(77, 20, 3);
    font-weight: 700;
    font-style: italic;
  }
  
   #btn1{
    color: rgb(238, 241, 237);
    display: flex;
    justify-content: center;
    background-color: rgb(24, 26, 121);
    text-align: center;
    font-size: 1.3rem;
    width: 30vw;
    padding: 0.5% , 2%;
    margin: auto;
  } 
  
  #btn1:hover{
    color: antiquewhite;
    background-color: blueviolet;
    
  }
  input:focus{
    color: rgb(13, 14, 12);
    background-color: rgb(75, 60, 43);
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  }
  




@media (max-width: 650px) {

    .customForm{
      height: 80vh;
      width: 97%;
      padding-right: 2%;
      padding-bottom: 3%;
      background-color: rgba(243, 243, 87, 0.877);
    }

    
.JoinContainer{
    border: 2px solid yellow;
    width: 70vw;
    height: 90vh;
    background-color: rgb(74, 238, 238);
    margin: auto;
    padding: 2%;
}

  }